[Desktop Entry]
Version=1.0
Encoding=UTF-8
Icon=papywizard
Name=Papywizard
Exec=/usr/bin/papywiz.py
Type=Application
X-Osso-Type=application/x-executable
