[Desktop Entry]
Name=papywizard
GenericName=Merlin/Orion panohead control software
GenericName[en]=Merlin/Orion panohead control software
GenericName[fr]=Pilotage tête panoramique Merlin/Orion
Comment=automate hi-res and full-spherical panos shots
Comment[en]=automate hi-res and full-spherical panos shots
Comment[fr]=automatise la prise de vue panoramique
Exec=papywizard.sh
Icon=paywizard
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Graphics;
StartupNotify=true
StartupWMClass=papywizard
