[Desktop Entry]
Type=Application
Version=1.0
Name=Papywizard
GenericName=Merlin/Orion panohead control software
GenericName[en]=Merlin/Orion panohead control software
GenericName[fr]=Pilotage tête panoramique Merlin/Orion
Comment=automate hi-res and full-spherical panos shots
Comment[en]=automate hi-res and full-spherical panos shots
Comment[fr]=automatise la prise de vue panoramique
Icon=paywizard
Exec=papywizard.sh
Categories=Application;Graphics;
